input{
   border: 1px solid red;
}

input-primary{
    color:red;
}

input-warning{
    color: blue;
}

input-l{
    width: 100px;
}

input-s{
    width: 50px;
}

input-primary-l{
    color: blue;
    width: 100px;
}

// do input small, medium, mix it all up do a variety