// _typography.scss

// Typography Styles
body {
  font-family: $body-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
}

.header .header-h1 .header-h1-primary .h1 {
  font-family: $heading-font-family;
  font-size: $heading1-font-size;
  font-weight: $bold-font-weight;
  line-height: $heading-line-height;
  color: $text-color;
}

.h2 {
  font-family: $heading-font-family;
  font-size: $heading2-font-size;
  font-weight: $bold-font-weight;
  line-height: $heading-line-height;
  color: $text-color;
}

.h3 {
  font-family: $heading-font-family;
  font-size: $heading3-font-size;
  font-weight: $bold-font-weight;
  line-height: $heading-line-height;
  color: $text-color;
}

.p {
  margin-bottom: 1em;
}

.a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
