* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-centered {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

// Define gap sizes
$gap-s: 10px;
$gap-m: 20px;
$gap-l: 30px;

// Base flex container styles
.flex-container {
  width: 100%;
  padding: 10px;
  display: flex;
}

// Flex container with column centering
.flex-container-col-centered {
  @extend .flex-container;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Flex container with row centering
.flex-container-row-centered {
  @extend .flex-container;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// Gap classes
.g-s {
  margin: #{$gap-s / 2 * -1};
  & > * {
    margin: #{$gap-s / 2};
  }
}

.g-m {
  margin: #{$gap-m / 2 * -1};
  & > * {
    margin: #{$gap-m / 2};
  }
}

.g-l {
  margin: #{$gap-l / 2 * -1};
  & > * {
    margin: #{$gap-l / 2};
  }
}
