@import "resetDefault";

@import "variables";
@import "utilities";

@import "buttons";
@import "lists";
@import "headers";
@import "inputs";

h1 {
  color: $primary-color;
}

.box-out {
  width: 700px;
  background-color: aqua;
}
